{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content=""/>

    {% comment %} <!-- DESCRIPTION -->
	<meta name="description" content="EduChamp : Education HTML Template" />
	
	<!-- OG -->
	<meta property="og:title" content="EduChamp : Education HTML Template" />
	<meta property="og:description" content="EduChamp : Education HTML Template" /> {% endcomment %}
    <meta property="og:image" content=""/>
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href="{% static 'images/it_1_logo.svg' %}" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/it_1_logo.svg' %}"/>

    <!-- PAGE TITLE HERE ============================================= -->
    <title>IT House academy</title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/assets.css' %}">

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/typography.css' %}">

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/shortcodes/shortcodes.css' %}">

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link class="skin" rel="stylesheet" type="text/css" href="{% static 'css/color/color-1.css' %}">

</head>
<body id="bg">
<div class="page-wraper">
    <div id="loading-icon-bx"></div>

    <!-- Header Top ==== -->
    <header class="header rs-nav">
        <div class="top-bar">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="topbar-left">
                        <ul>
                            <li><a href="{% url 'main:index' %}">IT House academy</a></li>
                            <li><a href="mailto:ithouseedu@gmail.com"><i class="fa fa-envelope-o"></i>ithouseedu@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="topbar-right">
                        <ul>

                            <li><a href="{% url  'main:login_course' %}">Ro'yxatdan o'tish</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-header navbar-expand-lg">
            <div class="menu-bar clearfix">
                <div class="container clearfix">
                    <!-- Header Logo ==== -->
                    <div class="menu-logo">
                        <a href="{% url 'main:index' %}"><img src="{% static 'images/itlogo.png' %}" alt=""></a>
                    </div>
                    <!-- Mobile Nav Button ==== -->
                    <button class="navbar-toggler collapsed menuicon justify-content-end" type="button"
                            data-toggle="collapse" data-target="#menuDropdown" aria-controls="menuDropdown"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <!-- Author Nav ==== -->
                    <div class="secondary-menu">
                        <div class="secondary-inner">
                            <ul>
                                <li><a href="https://www.facebook.com/ithousedu.uz" class="btn-link"><i
                                        class="fa fa-facebook"></i></a></li>
                                <li><a href="https://www.instagram.com/ithouse_edu" class="btn-link"><i
                                        class="fa fa-instagram"></i></a></li>
                                <li><a href="https://t.me/ithouse_edu" class="btn-link"><i
                                        class="fa fa-telegram"></i></a></li>
                                <!-- Search Button ==== -->
                            </ul>
                        </div>
                    </div>
                    <!-- Search Box ==== -->
                    {% comment %} <div class="nav-search-bar">
                        <form action="#">
                            <input name="search" value="" type="text" class="form-control" placeholder="Type to search">
                            <span><i class="ti-search"></i></span>
                        </form>
						<span id="search-remove"><i class="ti-close"></i></span>
                    </div> {% endcomment %}
                    <!-- Navigation Menu ==== -->
                    <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
                        <div class="menu-logo">
                            <a href="{% url 'main:index' %}"><img src="{% static 'images/itlogo.png' %}" alt=""></a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'main:index' %}">Asosiy</a>

                            </li>
                            <li><a href="javascript:;">Biz haqimizda</a>

                            </li>
                            <li class="add-mega-menu"><a href="{% url 'main:course' %}">Kurslar</a>

                            </li>
                            <li><a href="{% url 'main:news' %}">Yangiliklar</a>

                            </li>

                        </ul>

                    </div>
                    <!-- Navigation Menu END ==== -->
                </div>
            </div>
        </div>
    </header>
    <!-- header END ==== -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner ovbl-dark" style="background-image:url({% static 'images/it_1.jpg' %});">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">Yangilik</h1>
                </div>
            </div>
        </div>
        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#">Asosiy</a></li>
                    <li>Yangiliklar</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <div class="content-block">
            <div class="section-area section-sp1">
                <div class="container">
                    <div class="row">
                        <!-- Left part start -->
                        <div class="col-lg-8 col-xl-8">
                            <!-- blog start -->
                            <div class="recent-news blog-lg">
                                <div class="action-box blog-lg">
                                    <img src="{{ new.img.url }}" alt="">
                                </div>
                                <div class="info-bx">
                                    <ul class="media-post">
                                        <li><a href="#"><i class="fa fa-calendar"></i>{{ new.date }}</a></li>
                                    </ul>
                                    <h5 class="post-title"><a href="#">{{ new.name }}</a></h5>
                                    <p>{{ new.text }}</p>
                                    <div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>

                                    <div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
                                    <h6>Online tarmoqlar </h6>
                                    <ul class="list-inline contact-social-bx">
                                        <li><a href="https://www.facebook.com/ithousedu.uz"
                                               class="btn outline radius-xl"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.instagram.com/ithouse_edu"
                                               class="btn outline radius-xl"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="https://t.me/ithouse_edu" class="btn outline radius-xl"><i
                                                class="fa fa-telegram"></i></a></li>
                                    </ul>
                                    <div class="ttr-divider bg-gray"><i class="icon-dot c-square"></i></div>
                                </div>
                            </div>

                            <!-- blog END -->
                        </div>
                        <!-- Left part END -->
                        <!-- Side bar start -->
                        <div class="col-lg-4 col-xl-4">
                            <aside class="side-bar sticky-top">

                                <div class="widget recent-posts-entry">
                                    <h6 class="widget-title">Yangilik</h6>
                                    <div class="widget-post-bx">
                                        {% for i in new_s %}
                                            <div class="widget-post clearfix">
                                                <div class="ttr-post-media"><img src="{{ i.img.url }}" width="200"
                                                                                 height="143" alt=""></div>
                                                <div class="ttr-post-info">
                                                    <div class="ttr-post-header">
                                                        <h6 class="post-title"><a
                                                                href="{% url 'main:new_details' i.id %}">{{ i.name|truncatewords:"5" }}</a>
                                                        </h6>
                                                    </div>
                                                    <ul class="media-post">
                                                        <li><a href="#"><i class="fa fa-calendar"></i>{{ i.date }}</a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>


                            </aside>
                        </div>
                        <!-- Side bar END -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content END-->
    <!-- Footer ==== -->
    <footer>
        <div class="footer-top" style="background-image: url('{% static 'images/ithouse.jpg' %}');">
            <div class="pt-exebar">
                <div class="container">
                    <div class="d-flex align-items-stretch">
                        <div class="pt-logo mr-auto">
                            <a style="width: 200px;" href="{% url 'main:index' %}"><img
                                    src="{% static 'images/Logos.png' %}" alt=""/></a>
                        </div>
                        <div class="pt-social-link">
                            <ul class="list-inline m-a0">
                                <li>
                                    <a style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;"
                                       href="https://www.facebook.com/ithousedu.uz" class="btn-link"><i
                                            class="fa fa-facebook"></i></a></li>
                                <li>
                                    <a style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;"
                                       href="https://www.instagram.com/ithouse_edu" class="btn-link"><i
                                            class="fa fa-instagram"></i></a></li>
                                <li>
                                    <a style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;"
                                       href="https://t.me/ithouse_edu" class="btn-link"><i
                                            class="fa fa-telegram"></i></a></li>

                            </ul>
                        </div>
                        <div class="pt-btn-join">
                            <a href="{% url 'main:login_course' %}" class="btn"
                               style="background-color: #ffffff; box-shadow: 0px 0px 20px 9px rgb(242, 241, 241);"><b
                                    style="color: black;">Kursga yozilish</b></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 footer-col-4">
                        <div class="widget">
                            <h5 class="footer-title"
                                style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">
                                Bizning oliy maqsad</h5>
                            <p class="text-capitalize m-b20"
                               style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">
                                Raqamli texnologiyalar yordamida dunyoni yaxshi tarafga o'zgartira oladigan
                                mutaxassislarni tayyorlaymiz, shu sohadagi mahsulot va xizmatlarni ishlab
                                chiqaramiz.</p>
                            <div class="subscribe-form m-b20">
                                <form class="subscription-form"
                                      action="http://educhamp.themetrades.com/demo/assets/script/mailchamp.php"
                                      method="post">
                                    <div class="ajax-message"></div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5 col-md-7 col-sm-12">
                        <div class="row">
                            <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                                <div class="widget footer_widget">
                                    <h5 class="footer-title"
                                        style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">
                                        Bo'limlar</h5>
                                    <ul>
                                        <li><a href="{% url 'main:index' %}"
                                               style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">Asosiy</a>
                                        </li>
                                        <li><a href="#"
                                               style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">Biz
                                            haqimizda</a></li>
                                        <li><a href="{% url 'main:course' %}"
                                               style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">Kurslar</a>
                                        </li>
                                        <li><a href="{% url 'main:news' %}"
                                               style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">Yangiliklar</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                                <div class="widget footer_widget">
                                    <h5 class="footer-title"
                                        style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">
                                        Kurslar</h5>
                                    <ul>
                                        {% for i in coursee %}
                                            <li><a href="{% url 'main:course_details' i.id %}"
                                                   style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">{{ i.course_name }}</a>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                            <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                                <div class="widget footer_widget">
                                    <h5 class="footer-title"
                                        style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">
                                        Bog'lanish</h5>
                                   <ul>
										<li>
                                            <a href="tel:+998905762727" style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">+998905762727</a></li>

										<li >
                                            <a href="tel:+998900352727" style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff; margin-top: 12px">+998900352727</a> 
                                        </li>

									</ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    </ul>
                </div>
            </div>
        </div>
</div>
</div>

</footer>
<!-- Footer END ==== -->
<!-- scroll top button -->
<button class="back-to-top fa fa-chevron-up"></button>
</div>
<!-- External JavaScripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'vendors/magnific-popup/magnific-popup.js' %}"></script>
<script src="{% static 'vendors/counter/waypoints-min.js' %}"></script>
<script src="{% static 'vendors/counter/counterup.min.js' %}"></script>
<script src="{% static 'vendors/imagesloaded/imagesloaded.js' %}"></script>
<script src="{% static 'vendors/masonry/masonry.js' %}"></script>
<script src="{% static 'vendors/masonry/filter.js' %}"></script>
<script src="{% static 'vendors/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'vendors/switcher/switcher.js' %}"></script>
</body>

</html>