{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>

	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	
	<!-- DESCRIPTION -->
	<meta name="description" content="EduChamp : Education HTML Template" />
	
	<!-- OG -->
	<meta property="og:title" content="EduChamp : Education HTML Template" />
	<meta property="og:description" content="EduChamp : Education HTML Template" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}" />
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>IT house academy </title>
	
	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.min.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
	
	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/assets.css' %}">
	
	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/typography.css' %}">
	
	<!-- SHORTCODES ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/shortcodes/shortcodes.css' %}">
	
	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link class="skin" rel="stylesheet" type="text/css" href="{% static 'css/color/color-1.css' %}">
	
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-icon-bx"></div>

    <!-- Header Top ==== -->
    <header class="header rs-nav">
		<div class="top-bar">
			<div class="container">
				<div class="row d-flex justify-content-between">
					<div class="topbar-left">
						<ul>
							<li><a href="faq-1.html"><i class="fa fa-question-circle"></i>IT house haqida</a></li>
							<li><a href="javascript:;"><i class="fa fa-envelope-o"></i>ithouse@gmail.com</a></li>
						</ul>
					</div>
					<div class="topbar-right">
						<ul>
	
							<li><a href="{% url  'main:login_course' %}">Ro'yxatdan o'tish</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="sticky-header navbar-expand-lg">
            <div class="menu-bar clearfix">
                <div class="container clearfix">
					<!-- Header Logo ==== -->
					<div class="menu-logo">
						<a href="{% url 'main:index' %}"><img src="{% static 'images/itlogo.png' %}" alt=""></a>
					</div>
					<!-- Mobile Nav Button ==== -->
                    <button class="navbar-toggler collapsed menuicon justify-content-end" type="button" data-toggle="collapse" data-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<!-- Author Nav ==== -->
                    <div class="secondary-menu">
                        <div class="secondary-inner">
                            <ul>
								<li><a href="javascript:;" class="btn-link"><i class="fa fa-facebook"></i></a></li>
								<li><a href="javascript:;" class="btn-link"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="javascript:;" class="btn-link"><i class="fa fa-linkedin"></i></a></li>
								<!-- Search Button ==== -->
								<li class="search-btn"><button id="quik-search-btn" type="button" class="btn-link"><i class="fa fa-search"></i></button></li>
							</ul>
						</div>
                    </div>
					<!-- Search Box ==== -->
                    <div class="nav-search-bar">
                        <form action="#">
                            <input name="search" value="" type="text" class="form-control" placeholder="Type to search">
                            <span><i class="ti-search"></i></span>
                        </form>
						<span id="search-remove"><i class="ti-close"></i></span>
                    </div>
					<!-- Navigation Menu ==== -->
                    <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
						<div class="menu-logo">
							<a href="{% url 'main:index' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
						</div>
                        <ul class="nav navbar-nav">	
							<li class="active"><a href="{% url 'main:index' %}">Asosiy</a>
								
							</li>
							<li><a href="javascript:;">Biz haqimizda</a>
								
							</li>
							<li class="add-mega-menu"><a href="{% url 'main:course' %}">Kurslar</a>
							
							</li>
							<li><a href="{% url 'main:news' %}">Yangiliklar</a>
								
							</li>
							
						</ul>
						<div class="nav-social-link">
							<a href="javascript:;"><i class="fa fa-facebook"></i></a>
							<a href="javascript:;"><i class="fa fa-google-plus"></i></a>
							<a href="javascript:;"><i class="fa fa-linkedin"></i></a>
						</div>
                    </div>
					<!-- Navigation Menu END ==== -->
                </div>
            </div>
        </div>
    </header>
    <!-- header END ==== -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner ovbl-dark" style="background-image:url({% static 'images/banner/banner3.jpg' %});">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">Bizning Kurslar</h1>
				 </div>
            </div>
        </div>
		<!-- Breadcrumb row -->
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="#">Asosiy</a></li>
					<li>Kurslar</li>
				</ul>
			</div>
		</div>
		<!-- Breadcrumb row END -->
        <!-- inner page banner END -->
		<div class="content-block">
            <!-- About Us -->
			<div class="section-area section-sp1">
                <div class="container">
					 <div class="row">
						<div class="col-lg-3 col-md-4 col-sm-12 m-b30">
							<!-- <div class="widget courses-search-bx placeani">
								<div class="form-group">
									<div class="input-group">
										<label>Search Courses</label>
										<input name="dzName" type="text" required class="form-control">
									</div>
								</div>
							</div> -->
							<div class="widget widget_archive">
                                <h5 class="widget-title style-1"><b>Projectlar</b></h5>
                                <ul>
									{% for i in course %}
                                    	<li class="active"><a href="{% url 'main:project' i.id %}">{{ i.course_name }}</a></li>
									{% endfor %}
                                    
                                </ul>
                            </div>
							<div class="widget">
								<a href="#"><img src="{% static 'images/adv/adv.jpg' %}" alt=""/></a>
							</div>
							
						</div>
						<div class="col-lg-9 col-md-8 col-sm-12">
							<div class="row">
								{% for i in course %}
									<div class="col-md-6 col-lg-4 col-sm-6 m-b30">
										<div class="cours-bx">
											<div class="action-box">
												<img style="height: 180px;" src="{{ i.img.url }}" alt="">
												<a href="{% url  'main:login_course' %}" class="btn">Ro'yxatdan o'tish</a>
											</div>
											<div class="info-bx text-center">
												<h5><a href="{%  url 'main:course_details' i.id %}">{{ i.course_name }}</a></h5>
												<span>{{ i.course_table }} ta modul</span>
											</div>
											<div class="cours-more-info">
												<div class="review">
													<h5>{{ i.month }} oy</h5>
													
													</ul>
												</div>
												<div class="price">
													<!-- <del>$190</del> -->
													<h5>{{ i.lesson_number }} ta dars</h5>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
		<!-- contact area END -->
		
    </div>
    <!-- Content END-->
	<!-- Footer ==== -->



    <footer>
        <div class="footer-top" style="background-image: url('{% static 'images/ithouse.jpg' %}');">
			<div class="pt-exebar">
				<div class="container">
					<div class="d-flex align-items-stretch">
						<div class="pt-logo mr-auto">
							<a style="width: 200px;" href="index.html"><img src="{% static 'images/Logos.png' %}" alt=""/></a>
						</div>
						<div class="pt-social-link">
							<ul class="list-inline m-a0">
								<li><a style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;" href="#" class="btn-link"><i class="fa fa-facebook"></i></a></li>
								<li><a style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;" href="#" class="btn-link"><i class="fa fa-twitter"></i></a></li>
								<li><a style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;" href="#" class="btn-link"><i class="fa fa-linkedin"></i></a></li>
								<li><a style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;" href="#" class="btn-link"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
						<div class="pt-btn-join">
							<a href="{% url 'main:login_course' %}" class="btn" style="background-color: #ffffff; box-shadow: 0px 0px 20px 9px rgb(242, 241, 241);"><b style="color: black;">Kursga yozilish</b></a>
						</div>
					</div>
				</div>
			</div>
            <div class="container">
                <div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12 footer-col-4">
                        <div class="widget">
                            <h5 class="footer-title" style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">Bizning oliy maqsad</h5>
							<p class="text-capitalize m-b20" style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">Raqamli texnologiyalar yordamida dunyoni yaxshi tarafga o'zgartira oladigan mutaxassislarni tayyorlaymiz, shu sohadagi mahsulot va xizmatlarni ishlab chiqaramiz.</p>
                            <div class="subscribe-form m-b20">
								<form class="subscription-form" action="http://educhamp.themetrades.com/demo/assets/script/mailchamp.php" method="post">
									<div class="ajax-message"></div>
								
								</form>
							</div>
                        </div>
                    </div>
					<div class="col-12 col-lg-5 col-md-7 col-sm-12">
						<div class="row">
							<div class="col-4 col-lg-4 col-md-4 col-sm-4">
								<div class="widget footer_widget">
									<h5 class="footer-title" style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">Bo'limlar</h5>
									<ul>
										<li><a href="{% url 'main:index' %}" style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">Asosiy</a></li>
										<li><a href="about-1.html" style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">Biz haqimizda</a></li>
										<li><a href="{% url 'main:course' %}" style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">Kurslar</a></li>
										<li><a href="{% url 'main:news' %}" style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">Yangiliklar</a></li>
										</ul>
								</div>
							</div>
							
							<div class="col-4 col-lg-4 col-md-4 col-sm-4">
								<div class="widget footer_widget">
									<h5 class="footer-title" style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">Kurslar</h5>
									<ul>
										<li><a href="courses.html" style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">Python</a></li>
										<li><a href="courses-details.html" style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">Front-end</a></li>
										<li><a href="membership.html" style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">IT kids</a></li>
										<li><a href="profile.html" style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">Profile</a></li>
									</ul>
								</div>
							</div>
							<div class="col-4 col-lg-4 col-md-4 col-sm-4">
								<div class="widget footer_widget">
									<h5 class="footer-title" style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">Contact</h5>
									<ul>
										<li><a href="courses.html" style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">958687202</a></li>
									
										<li><a href="membership.html" style="text-shadow: 1px 1px 2px red, 0 0 1em rgb(207, 207, 210), 0 0 0.2em rgb(239, 239, 249); color: #fff;">972634488</a></li>
								
									</ul>
								</div>
							</div>
						</div>
                    </div>
					<!-- <div class="col-12 col-lg-3 col-md-5 col-sm-12 footer-col-4">
                        <div class="widget widget_gallery gallery-grid-4">
                            <h5 class="footer-title">Our Gallery</h5>
                            <ul class="magnific-image">
								<ul>
									<li class="magnific-anchor"><a href="courses.html">+998 958687202</a></li>
									
								</ul>
								<<li><a href="assets/images/gallery/pic1.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic1.jpg" alt=""></a></li>
								<li><a href="assets/images/gallery/pic2.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic2.jpg" alt=""></a></li>
								<li><a href="assets/images/gallery/pic3.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic3.jpg" alt=""></a></li>
								<li><a href="assets/images/gallery/pic4.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic4.jpg" alt=""></a></li>
								<li><a href="assets/images/gallery/pic5.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic5.jpg" alt=""></a></li>
								<li><a href="assets/images/gallery/pic6.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic6.jpg" alt=""></a></li>
								<li><a href="assets/images/gallery/pic7.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic7.jpg" alt=""></a></li>
								<li><a href="assets/images/gallery/pic8.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic8.jpg" alt=""></a></li> -->
							</ul>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        
    </footer>









    <!-- Footer END ==== -->
    <button class="back-to-top fa fa-chevron-up" ></button>
</div>
<!-- External JavaScripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'vendors/magnific-popup/magnific-popup.js' %}"></script>
<script src="{% static 'vendors/counter/waypoints-min.js' %}"></script>
<script src="{% static 'vendors/counter/counterup.min.js' %}"></script>
<script src="{% static 'vendors/imagesloaded/imagesloaded.js' %}"></script>
<script src="{% static 'vendors/masonry/masonry.js' %}"></script>
<script src="{% static 'vendors/masonry/filter.js' %}"></script>
<script src="{% static 'vendors/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'vendors/switcher/switcher.js' %}"></script>
</body>

</html>
