{% extends 'dashboard/base.html' %}
{% load static %}


	
	

{% block content %}

<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title">Ustozlar qo'shish</h4>
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>Asosiy</a></li>
                <li>Ustozlar qo'shish</li>
            </ul>
        </div>	
        <div class="row">
            <!-- Your Profile Views Chart -->
            <div class="col-lg-12 m-b30">
                <div class="widget-box">
                    <div class="wc-title">
                        <h4>Ustozlar qo'shish</h4>
                    </div>
                    <div class="widget-inner">
                        <form method="post"  enctype="multipart/form-data" class="edit-profile m-b30">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="ml-auto">
                                        <h3><b>1. Ism va Fam</b></h3>
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <label class="col-form-label">To'liq qilib yozing   </label>
                                    <div>
                                        {{ form.last_name }}
                                        {% comment %} <input class="form-control" type="text" value=""> {% endcomment %}
                                    </div>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="ml-auto">
                                        <h3><b>2. Yo'nalishini yozing</b></h3>
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <label class="col-form-label">To'liq qilib yozing   </label>
                                    <div>
                                        {{ form.direction }}
                                        {% comment %} <input class="form-control" type="text" value=""> {% endcomment %}
                                    </div>
                            
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="ml-auto">
                                        <h3><b>3. Ustoz haqida ma'lumot</b></h3>
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <label class="col-form-label">To'liq qilib yozing   </label>
                                    <div>
                                        {{ form.text }}
                                        {% comment %} <input class="form-control" type="text" value=""> {% endcomment %}
                                    </div>
                            
                                </div>
                                
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="ml-auto">
                                        <h3><b>3. Rasm joylash</b></h3>
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <label class="col-form-label">Filen joylang  </label>
                                    <div>
                                        {{ form.img }}
                                        {% comment %} <input class="form-control" type="text" value=""> {% endcomment %}
                                    </div>
                            
                                </div>
                            </div>
                                
                               
                               
                               
                                
                                
                                
                                <div class="col-12">
                                    <button type="submit" class="btn"><i class="fa fa-fw fa-plus-circle"></i>Saqlash</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Your Profile Views Chart END-->
        </div>
    </div>
</main>

{% endblock %}