{% extends 'dashboard/base.html' %}
{% load static %}


	
	

{% block content %}






	<!--Main container start -->
	<main class="ttr-wrapper">
		<div class="container-fluid">
			<div class="db-breadcrumb">
				<h4 class="breadcrumb-title">Kurslar</h4>
				<ul class="db-breadcrumb-list">
					<li><a href="#"><i class="fa fa-home"></i>Asosiy</a></li>
					<li>Kurslar</li>
				</ul>
			</div>	
			<div class="row">
				<!-- Your Profile Views Chart -->
				<div class="col-lg-12 m-b30">
					<div class="widget-box">
						<div class="wc-title">
							<h4>Bizni Kurslari</h4>
						</div>
						<div class="widget-inner">
							<div class="card-courses-list admin-courses">
								
								<div class="card-courses-full-dec">
									<div class="card-courses-title">
										{% comment %} <h4>{{ i.last_name }}</h4> {% endcomment %}
									</div>
									
									<div class="row card-courses-dec">
										<div class="col-md-12">
											{% comment %} <h6 class="m-b10">{{ i.direction }}</h6> {% endcomment %}
											{% comment %} <p>Lorem ipsum dolor sit amet, est ei idque voluptua copiosae, pro detracto disputando reformidans at, ex vel suas eripuit. Vel alii zril maiorum ex, mea id sale eirmod epicurei. Sit te possit senserit, eam alia veritus maluisset ei, id cibo vocent ocurreret per. Te qui doming doctus referrentur, usu debet tamquam et. Sea ut nullam aperiam, mei cu tollit salutatus delicatissimi. </p>	 {% endcomment %}
										</div>
										<div class="col-md-12">
											<a href="{% url 'client:course_create' %}" class="btn green radius-xl outline">Qoʻshish</a>
										</div>
									</div>
									
								</div>
							</div>
							{% for i in course %}
							<div class="card-courses-list admin-courses">
								<div class="card-courses-media">
									<img src="{{ i.img.url }}" alt=""/>
								</div>
								<div class="card-courses-full-dec">
									<div class="card-courses-title">
										<h4>{{ i.course_name }}</h4>
									</div>
									<div class="card-courses-list-bx">
										<ul class="card-courses-view">
											<li class="card-courses-user">
												<div class="card-courses-user-pic">
													<img src="{{ i.mentor.img.url }}" alt=""/>
												</div>
												<div class="card-courses-user-info">
													<h5>Ustoz</h5>
													<h4>{{ i.mentor.last_name }}</h4>
												</div>
											</li>
											<li class="card-courses-categories">
												<h5>Yo'nalsih</h5>
												<h4>{{ i.mentor.direction }}</h4>
											</li>
											<li class="card-courses-categories">
												<h5>Modul</h5>
												<h4>{{ i.course_table }}</h4>
											</li>
											<li class="card-courses-categories">
												<h5>OY</h5>
												<h4>{{ i.month }}</h4>
											</li>
											<li class="card-courses-categories">
												<h5>Dasr Soni</h5>
												<h4>{{ i.lesson_number }}</h4>
											</li>

											
											
										</ul>
									</div>
									<div class="row card-courses-dec">
										<div class="col-md-12">
											<h6 class="m-b10"><b>Bonus:</b> {{ i.bonus }}</h6>
											<p>{{ i.text }}</p>	
										</div>
										<div class="col-md-12">
											<a href="{% url 'client:course_edit' i.id %}" class="btn green radius-xl outline">Taxrirlash</a>
											<a href="{% url 'client:course_delete' i.id %}" class="btn red outline radius-xl ">O'chirish</a>
										</div>
									</div>
									
								</div>
							</div>
							{% endfor %}

							
							
						</div>
					</div>
				</div>
				<!-- Your Profile Views Chart END-->
			</div>
		</div>
	</main>
	<div class="ttr-overlay"></div>


{% endblock %}


